In [6]:
# importing python module.
import pandas as pd
import lightgbm
from lightgbm.sklearn import LGBMClassifier

In [7]:
# loading dataset with pandas
dia = pd.read_csv("./dataset/diabetes.csv")

dia.head()

,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,1,193,77,49,"3,9",19,female,61,119,"22,5",118,70,32,38,"0,84",No diabetes
1,2,146,79,41,"3,6",19,female,60,135,"26,4",108,58,33,40,"0,83",No diabetes
2,3,217,75,54,4,20,female,67,187,"29,3",110,72,40,45,"0,89",No diabetes
3,4,226,97,70,"3,2",20,female,64,114,"19,6",122,64,31,39,"0,79",No diabetes
4,5,164,91,67,"2,4",20,female,70,141,"20,2",122,86,32,39,"0,82",No diabetes

In [8]:
# wrangling datasets with pandas
dia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   patient_number   390 non-null    int64
 1   cholesterol      390 non-null    int64
 2   glucose          390 non-null    int64
 3   hdl_chol         390 non-null    int64
 4   chol_hdl_ratio   390 non-null    object
 5   age              390 non-null    int64
 6   gender           390 non-null    object
 7   height           390 non-null    int64
 8   weight           390 non-null    int64
 9   bmi              390 non-null    object
 10  systolic_bp      390 non-null    int64
 11  diastolic_bp     390 non-null    int64
 12  waist            390 non-null    int64
 13  hip              390 non-null    int64
 14  waist_hip_ratio  390 non-null    object
 15  diabetes         390 non-null    object
dtypes: int64(11), object(5)
memory usage: 48.9+ KB

In [9]:
dia.describe()

,patient_number,cholesterol,glucose,hdl_chol,age,height,weight,systolic_bp,diastolic_bp,waist,hip
count,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000,390.000000
mean,195.500000,207.230769,107.338462,50.266667,46.774359,65.951282,177.407692,137.133333,83.289744,37.869231,42.992308
std,112.727548,44.666005,53.798188,17.279069,16.435911,3.918867,40.407824,22.859528,13.498192,5.760947,5.664342
min,1.000000,78.000000,48.000000,12.000000,19.000000,52.000000,99.000000,90.000000,48.000000,26.000000,30.000000
25%,98.250000,179.000000,81.000000,38.000000,34.000000,63.000000,150.250000,122.000000,75.000000,33.000000,39.000000
50%,195.500000,203.000000,90.000000,46.000000,44.500000,66.000000,173.000000,136.000000,82.000000,37.000000,42.000000
75%,292.750000,229.000000,107.750000,59.000000,60.000000,69.000000,200.000000,148.000000,90.000000,41.000000,46.000000
max,390.000000,443.000000,385.000000,120.000000,92.000000,76.000000,325.000000,250.000000,124.000000,56.000000,64.000000

In [14]:
dia.chol_hdl_ratio = round(dia.cholesterol / dia.hdl_chol,2)

In [15]:
dia.head()

,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,1,193,77,49,3.94,19,female,61,119,"22,5",118,70,32,38,"0,84",No diabetes
1,2,146,79,41,3.56,19,female,60,135,"26,4",108,58,33,40,"0,83",No diabetes
2,3,217,75,54,4.02,20,female,67,187,"29,3",110,72,40,45,"0,89",No diabetes
3,4,226,97,70,3.23,20,female,64,114,"19,6",122,64,31,39,"0,79",No diabetes
4,5,164,91,67,2.45,20,female,70,141,"20,2",122,86,32,39,"0,82",No diabetes

In [16]:
dia.waist_hip_ratio= round(dia.waist/dia.hip,2)

In [17]:
dia.head()

,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,1,193,77,49,3.94,19,female,61,119,"22,5",118,70,32,38,0.84,No diabetes
1,2,146,79,41,3.56,19,female,60,135,"26,4",108,58,33,40,0.82,No diabetes
2,3,217,75,54,4.02,20,female,67,187,"29,3",110,72,40,45,0.89,No diabetes
3,4,226,97,70,3.23,20,female,64,114,"19,6",122,64,31,39,0.79,No diabetes
4,5,164,91,67,2.45,20,female,70,141,"20,2",122,86,32,39,0.82,No diabetes

In [19]:
# creating feature related to weight and height

dia["weight_height", ] = round(dia.weight/dia.height, 2)

dia.head()

,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,1,193,77,49,3.94,19,female,61,119,"22,5",118,70,32,38,0.84,No diabetes
1,2,146,79,41,3.56,19,female,60,135,"26,4",108,58,33,40,0.82,No diabetes
2,3,217,75,54,4.02,20,female,67,187,"29,3",110,72,40,45,0.89,No diabetes
3,4,226,97,70,3.23,20,female,64,114,"19,6",122,64,31,39,0.79,No diabetes
4,5,164,91,67,2.45,20,female,70,141,"20,2",122,86,32,39,0.82,No diabetes